<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>how to connect generic urls to specfic urls</title>
</head>
<body>
    <center>
        <h1>cool captian</h1>
        <h1><marquee>cool captain</marquee></h1>
        <h1>cool captian</h1>
        <h1><marquee>cool captain</marquee></h1>
        <h1>cool captian</h1>
        <h1><marquee>cool captain</marquee></h1>
    </center>
    
</body>
</html>